@font-face {
    font-family: 'Seasons_r';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-reg.otf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Satoshi_v';
    src: url('/fonts/Satoshi/TTF/Satoshi-Variable.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Bebas';
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Thomeo';
    src: url('/src/assets/fonts/Thomeo .ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'HoopsBrother';
    src: url('/src/assets/fonts/The Brother Hoops.ttf');
    font-weight: normal;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;